* {
    box-sizing: border-box;

}

header {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    z-index: 5000;
    position: fixed;
    top: 0vh;
}

body {
    background-image: url("Documents/PillBox/assets/bg2.jpeg");
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-left: 10px;
}

.search_input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 18em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search_input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search_input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search_input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search_input:focus + .search__button {
    background-color: #f0eeee;
}

.search_button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search_button:hover {
    cursor: pointer;
}

.search_icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

.sign_in_button {
    background: dodgerblue;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em lightskyblue;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.sign_in_button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em lightskyblue;
    right: 0.3em;
    transition: all 0.3s;
}

.sign_in_button:hover .icon {
    width: calc(100% - 0.6em);
}

.sign_in_button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: lightskyblue;
}

.sign_in_button:hover .icon svg {
    transform: translateX(0.1em);
}

.sign_in_button:active .icon {
    transform: scale(0.95);
}

#iconsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#iconsWrapper > div {
    padding: 5px;
}

#businessName {
    display: flex;
    align-items: center;
    justify-content: center;
}

#businessName > span {
    font-size: 30px;
}

.wrapper {
    --font-color-dark: #323232;
    --font-color-light: #FFF;
    --bg-color: #fff;
    --main-color: #323232;
    position: relative;
    width: 800px;
    height: 40px;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px var(--main-color);
}

.option {
    width: 100%;
    height: 100%;
    position: relative;
    top: 2px;
    left: 2px;
    padding: 2px 10px 2px 10px;
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: var(--font-color-dark);
}

.input:checked + .btn {
    background-color: var(--main-color);
}

.input:checked + .btn .span {
    color: var(--font-color-light);
}

#buttonArray {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shopping-cart-image svg {
    width: 200px;
    height: 200px;
    color: rgba(255, 68, 0, 0.567);
}

.order-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20%;
}

.shopping-cart {
    width: 50%;
    padding: 0 100px 0 150px;
}

.item-cart {
    width: 50%;
    padding: 0 50px 0 50px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase; /*Capitalize all letters */
}

.total-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}



.tot-amount {
    color:rgba(255, 68, 0, 0.567)
}

.card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .8rem 1.5rem;
    width: 400px;
    margin: 1rem 0;
}

.card p {
    margin: 0;
    
}

.card-upper, .card-lower {
    display: flex;
    justify-content: space-between;
}

.card-upper {
    margin-bottom: 2rem;
}

.card-lower {
    margin-top: 2rem;
}

.ref-code {
    font-weight: 500;
}

.total-amount {
    color: rgba(51, 72, 112, 0.779);
}

.status {
    background-color: #25d366;
    color: #ffffff;
    padding: .1rem .3rem;
    border-radius: 5px;
}

.status p {
    letter-spacing: .1em;
}

.card-footer {
    text-align: right;
    margin-top: 1rem;
}

.card-footer input {
    padding: 0 1.5rem;
    background-color: rgba(123, 47, 170, 0.656);
    border-radius: 5px;
    border: none;
    color: #ffffff;
}

.card-footer input:hover {
    background-color: rgba(255, 68, 0, 0.567);
    cursor: pointer;
}

.cssbuttons-io-button {
    background: rgba(255, 68, 0, 0.567);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em rgba(255, 68, 0, 0.567);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em rgba(255, 68, 0, 0.567);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: rgba(255, 68, 0, 0.567);
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  * {
    box-sizing: border-box;

}
